* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body,
main,
header,
footer {
    width: 100%;
}

.info {
    width: 100%;
    margin: 10px 0px;
}

.conteudo {
    margin: 0 auto;
    width: 100%;
    padding: 0px 20px;
}

.info2 {
    width: 100%;
    margin: 10px 0px;
}

.conteudo {
    margin: 0 auto;
    width: 100%;
    padding: 0px 20px;
}

.cadastro {
    width: 100%;
    margin: 10px 0px;
}

.conteudo {
    margin: 0 auto;
    width: 100%;
    padding: 0px 20px;
}

.gray-bar {
    background-color: #aa9c9c;    height: 50px;
    width: 100%;
    align-items: center;
    margin: 30px 0px;
    display: flex;

}

.form{
    padding: 15px;
}

.color{
    margin: 0px 10px;
    color: blue;
}